<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'WIMPsite/img/icon.png' %}"/>
    <meta charset="UTF-8">
    {% block title %}<title>WIMP</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'WIMPsite/css/style.css' %}">
</head>
<body>
<nav class="navbar">
    <div>
        <div class="navbar-header">
            <img src="{% static 'WIMPsite/img/icon.png' %}" alt="wimp" height="50" width="50">
            <h1 class="navbar-brand">What's in my Pool?</h1>
        </div>
    </div>
</nav>
<div>
    <div class="row">
        <div class="col-sm-1" id="side">
            {% block sidebar %}
                <ul class="sidebar-nav">
                    <li class="sidebar-option"><a class="sidebar-a" href="{% url 'Home' %}">Home</a></li>
                    <li class="sidebar-option"><a class="sidebar-a" href="{% url 'Testing Strips' %}">Test Strips</a>
                    </li>
                    <li class="sidebar-option"><a class="sidebar-a" href="{% url 'Scheduled Tests' %}"> Scheduled
                        Tests</a></li>
                </ul>
            {% endblock %}
        </div>
        <div class="col-sm-11 ">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>