{% extends "WIMPsite/base.html" %}

{% block header %}
    {{ test.name }}
{% endblock %}
{% block content %}
    <h2>Test Range</h2>
    <table id="table" class="table table-hover link-table">
        <thead>
        <tr class="table-primary">
            <th>Color</th>
            <th>Value</th>
            <th>RGB</th>
        </tr>
        </thead>
        <tbody>
        {% for color in colors %}
            <tr class="table-secondary">
                <td>
                    <div class="btn" style="background: {{ color.html_color }}"></div>
                </td>
                <td>{{ color.unit_value }}{{ test.unit }}</td>
                <td>{{ color.r }} {{ color.g }} {{ color.b }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <form action="{% url 'Test Info' test.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-primary" type="submit" value="Add Color">
    </form>

{% endblock %}